
<% javascript 'handsontable.full',
              'handsontable-chosen-editor',
              'jquery-1.11.2.min',
              'jquery-ui-1.11.3.min',
              'jstree',
              'jstree.dropdown.js',
              'select2.full.js',
              'jquery.fileDownload.js',
              'chosen.jquery.js',
              'ajaxDownload.js',
              'ajaxUtils.js',
              'main',			  
              'soqlexecuter', 
              'describe', 
              'metadata' 
%>
<style>

/* Progress Bar */

#progress{
    visibility: hidden;
    height: 2px;
}

.progress-line, .progress-line:before {
  height: 2px;
  width: 100%;
  margin: 0;
}
.progress-line {
  /*background-color: #b3d4fc;*/
  display: -webkit-flex;
  display: flex;
}
.progress-line:before {
  /*background-color: #3f51b5;*/
  background-color: #337ab7;
  content: '';
  -webkit-animation: running-progress 3s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  animation: running-progress 3s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
@-webkit-keyframes running-progress {
  0% { margin-left: 0px; margin-right: 100%; }
  50% { margin-left: 25%; margin-right: 0%; }
  100% { margin-left: 100%; margin-right: 0; }
}
@keyframes running-progress {
  0% { margin-left: 0px; margin-right: 100%; }
  50% { margin-left: 25%; margin-right: 0%; }
  100% { margin-left: 100%; margin-right: 0; }
}

</style>
<div id="mainArea">

    <div id="userInfo" style="text-align:right; padding-right:10px;margin:0px;">
            <div id="currentUserId"></div>
    </div>
    
    <div id="menuList">
      
        <ul>
    		<li><%= link_to "Logout", logout_path, method: :delete, id: "logoutLink" %></li>
            <li><a id="soqlexecuter" href="" class="menus" method="GET" loadTarget="#soqlexecuterContent" action="">SOQL</a></li>
    		<li><a id="describe" href="#" class="menus" method="GET" loadTarget="#describeContent" action="describe">Describe</a></li>
    		<li><a id="metadata" href="#" class="menus" method="GET" loadTarget="#metadataContent" action="metadata">Metadata</a></li>
        </ul>
    </div>  

    <div id="progress"><div id="progress-line"></div></div>

    <div id="spaceArea" style="height:50px;">

    </div>

    <div id="contentsArea">
        <div id="soqlexecuterContent"><%= render "soqlexecuter/soqlexecuter" %></div>
        <div id="describeContent"><%= render "describe/describe" %></div>
    	<div id="metadataContent"><%= render "metadata/metadata" %></div>	
    </div>
</div>