<style>
.displayed{
	background:white;
}

#soqlexecuterContent, #describeContent, #metadataContent {
 display:none;   
}
.soqlexecuter #soqlexecuterContent, .describe #describeContent, .metadata #metadataContent{
 display:block;   
}
</style>
<% javascript 'handsontable.full.min','jquery-1.11.2.min','jquery-ui-1.11.3.min','main','jstree', 'jstree.min','soqlexecuter', 'describe', 'metadata' %>
<div id="menuList">
    <ul>
		<li><%= link_to "Logout", logout_path, method: :delete, id: "logoutLink" %></li>
        <li><a id="soqlexecuter" href="#" class="menus">SOQL</a></li>
		<li><a id="describe" href="#" class="menus">Describe</a></li>
		<li><a id="metadata" href="#" class="menus">Metadata</a></li>
    </ul>
</div>

<div>
<h1>Main#index</h1>
<p>Find me in app/views/main/index.html.erb</p>
</div>

<div id="mainArea">
    <div id="soqlexecuterContent"><%= render "soqlexecuter/soqlexecuter" %></div>
    <div id="describeContent"><%= render "describe/describe" %></div>
	
	<div id="metadataContent"><%= render "metadata/metadata" %></div>
	
</div>
