
<% javascript 'handsontable.full',
              'handsontable-chosen-editor',
              'jquery-1.11.2.min',
              'jquery-ui-1.11.3.min',
              'jstree',
              'jstree.dropdown.js',
              'select2.full.js',
              'jquery.fileDownload.js',
              'chosen.jquery.js',
              'ajaxDownload.js',
              'ajaxUtils.js',
              'main',			  
              'soqlexecuter', 
              'describe', 
              'metadata' 
%>
<div id="mainArea">

    <div id="userInfo" style="text-align:right; padding-right:10px;margin:0px;">
            <div id="currentUserId"></div>
    </div>
    
    <div id="menuList">
        <ul>
    		<li><%= link_to "Logout", logout_path, method: :delete, id: "logoutLink" %></li>
            <li><a id="soqlexecuter" href="" class="menus" method="GET" loadTarget="#soqlexecuterContent" action="">SOQL</a></li>
    		<li><a id="describe" href="#" class="menus" method="GET" loadTarget="#describeContent" action="describe">Describe</a></li>
    		<li><a id="metadata" href="#" class="menus" method="GET" loadTarget="#metadataContent" action="metadata">Metadata</a></li>
        </ul>
    </div>  

    <div id="spaceArea" style="height:50px;">
    <!--<h1>Main#index</h1>
    <p>Find me in app/views/main/index.html.erb</p>-->
    </div>

    <div id="contentsArea">
        <div id="soqlexecuterContent"><%= render "soqlexecuter/soqlexecuter" %></div>
        <div id="describeContent"><%= render "describe/describe" %></div>
    	<div id="metadataContent"><%= render "metadata/metadata" %></div>	
    </div>
</div>