#executeDescribeBtn{
	margin-top: 5px;
}

.describe-sobject-label{
    text-align: left;
    vertical-align: middle;	
}
.describe-sobject-list{
    text-align: left;
    vertical-align: middle;
    padding-left: 0;
}

.sobjectTypeCheckBox{
	margin-right: 2px !important;
}

.sobjectTypeCheckBoxLabel{
	margin-right: 5px;
}