#soqlArea{
  	position:relative;
  	top:0;
  	right:0;
}

/* ------------------------------
   Overray
------------------------------ */  
#soqlOverRay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 4000;
    left: 0%;
    top: 0%;
    background-color: rgba(0,0,0,0.2);
    overflow-x: hidden;
    display:none;
  
}

/* ------------------------------
   Create dialog
------------------------------ */ 
.create-dialog {
    width: 600px;
    position: relative;
    z-index: 4005; 
    top: 20%;
    background-color: #408080;
    overflow-x: auto;
    border-radius: 12px;
    box-shadow: 9px 9px 9px rgba(0, 0, 0, .125);
    padding: 35px;
    margin: 0 auto;
}

#sobjectFields{
    color: black;
}

.sobject-fields-textarea{
    width: 400px;
    height: 150px;
}

#creatGridArea{
    font-size:12px;
}

#createGridBtn{
    margin-right: 5px;
}

#sobjectFieldsSeparator{
    color: black;
}

.soql-grid-table{
    display: table;
    position: relative;
    top: 25%;
    color: white;
    margin: 0 auto;
}

.sobject-label{
    padding-right: 10px;
    text-align: right;
    vertical-align: middle;
}

.fields-label{
    padding-right: 10px;
    text-align: right;
    vertical-align: top;
}

.soql-sobject-list{
    height: 30px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;    
}

/* ------------------------------
   Side navigation
------------------------------ */  
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 45px;
    left: 0;
    background-color: #fafafb;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.2s;  
    border-right: 1px solid #aaa;
    z-index: 3000;
}

.sidenav ul{
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
}

.sidenav li{
    padding: 0 15px;
    text-decoration: none;
    font-size: 12px;
    color: #000;
    display: block;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;	
}

.sidenav a{
    text-decoration: none;
}

.sidenav li:hover {
    background-color: #efe9e9;
}

.sidenav .closebtn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 30px;
    color: #000;
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    z-index: 2;
    padding:0;
    line-height: 20px
}

.sidenav .soql-history-title{
    font-size: 14px;
    color: #000;
    border-bottom: 1px solid #ccc;
    padding-left: 15px;
    margin: 0;
    font-family: Meiryo;
    width: 100%;
    vertical-align: middle;
	height:40px;
}

.soql-list{
    overflow-y: auto;
    overflow-y: auto;
    position: absolute;
    top: 40px;
    bottom: 45px;
    width: 100%;	
}

@media screen and (max-height: 450px) {
    .sidenav li { font-size: 12px;}    
}

/* ------------------------------
   Loading
------------------------------ */  
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: #80ffff;
    font-size: 10px;
    margin: auto;
    position:absolute;
    top:0px;
    right:0px;
    left:0px;
    bottom:0px;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
    }

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}
@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
    box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
    box-shadow: 0 2.5em 0 0;
    }
}
@keyframes load7 {
    0%,
    80%,
    100% {
    box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
    box-shadow: 0 2.5em 0 0;
    }
}

/* ------------------------------
   Misc
------------------------------ */
.soql-options{
	margin-left: 10px;
}

.left-align-btn{
	float: left;
}

.right-align-btn{
	text-align: right;
	margin-bottom: 2px;
}

.soql-empty-row{
    height:20px;
}

.grid-btn{
    font-size: 12px !important;
    margin-right: 5px;
}