
#loginFormArea{
    padding-top: 20px;
    margin: 0 auto;
}

#flashMessage{
    float:center;
    text-align:center;
    padding:5px;
    display:block;
}

#loginSpaceArea{
    height:50px;
}

#loginButtonArea{
    padding-top: 10px;
    padding-bottom: 2px;
    width: 60%;
    text-align: left;
    vertical-align: middle;
}

.login-form-table{
    margin: 0 auto;
    width: 100%;
}

.login-form-label{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    width: 40%;
    text-align: right;
    vertical-align: middle;
    white-space: nowrap;
}

.login-form-element{
    padding-top: 2px;
    padding-bottom: 2px;
    width: 60%;
    text-align: left;
    vertical-align: middle;
}
