label {
    font-weight: normal !important;
}

.displayed{
    background:white !important;
}

#soqlexecuterContent,
#describeContent, 
#metadataContent, 
#toolingContent,
#apexContent{
 display:none;   
}

.soqlexecuter #soqlexecuterContent, 
.describe #describeContent, 
.metadata #metadataContent, 
.tooling #toolingContent,
.apex #apexContent{
 display:block;   
}

button:disabled {
  cursor: default !important;
}

/* ------------------------------
   #JQuery UI
------------------------------ */
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{
    font-size: 9.5pt;
    font-family:Arial;
    margin-bottom: 2px;
}
.ui-tabs .ui-tabs-panel {
    padding: 0;
    margin: 0;
}

.ui-tabs .ui-tabs-nav li a {
    font-size:10pt !important;
}

.noselect {
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    float: left;
    padding: .5em .5em .5em 1em;
    text-decoration: none;
}
.ui-tabs .ui-tabs-nav:focus {
    /*
    padding-left: 0px; 
    background: transparent; 
    border-width: 0px 0px 1px 0px; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px;
    */
}

#tabArea ul li a { outline:none; /* outline-color:red */; }
#tabArea ul li { outline:none; /* outline-color:red */; }

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
    /* cursor: pointer; */
}

.ui-tabs-nav .ui-icon { 
    /*
    float: right;
    margin: 0em 0em 0 1em;
    cursor: pointer;
    */
}

/* ------------------------------
   #Handontable
------------------------------ */
/*
.handsontable span.colHeader{
    font-size: 10pt;
}

.handsontable th, .handsontable td{
    font-size: 10pt;
}
*/
.ht_master tr td {
    font-size:12px;
}

.handsontable th {
    font-size:12px;
}

.handsontable span.data{
    color: black;
    font-style:bold;
}

/* ------------------------------
   #jstree
------------------------------ */
.jstree-default a { 
    white-space:normal !important; height: auto; 
}

.jstree-anchor {
    height: auto !important;
}

.jstree-default li > ins { 
    vertical-align:top; 
}

.jstree-leaf {
    height: auto;
}

.jstree-leaf a{
    height: auto !important;
}

/* ------------------------------
   #Areas
------------------------------ */
#contentsArea{
    margin-top:50px;
}

#mainArea{
    padding-top: 20px;
    width:100%;
    margin: 0 auto;   
}

#mainArea .ui-tabs-anchor{
    font-size:12px !important;
}

#tree, .treeView{
    font-size:12px;
    font-family: Verdana;
    height:500px;
    overflow:auto;
}

#formArea{
    width: 80%;
    margin: 0 auto;
}

#formArea #exportButtonArea .btn{
    font-size:9.5pt;
    display: inline;
}

#messageArea{
    width: 100%;
    display: none;
    color: red;
    white-space: pre-wrap;
}

#tabArea{
    /*width: 60%;*/
    width: 80%;
    border: 0px solid lightgray;
    margin: 0 auto;
    /*float:left;*/
}

#tabArea li .ui-icon-close {
    float: left;
    margin: 0.4em 0.2em 0 0;
    cursor: pointer; 
}


/* ------------------------------
   #select2
------------------------------ */
.input-sm{
    display:inline;
    vertical-align: center;
}

.select2-results__options{
        font-size:12px !important;
        -webkit-box-shadow: none !important;
        box-shadow:none !important;
 }

span.select2-selection.select2-selection--single {
        outline: none;
 }

.select2-results {
    max-height: 290px;
}

.select2-container--default .select2-results > .select2-results__options {
    max-height: 290px;
    min-height: 150px;
    overflow-y: auto;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    margin-left: 10px !important;
}

.ex-small-btn{
    font-size: 12px !important;
}

.in-btn{
    font-size: 12px !important;
    margin-right: 5px;
}

.btn-info{
    font-size: 8pt !important;
    font-family:Arial;
}

/* ------------------------------
   #tab area
------------------------------ */
.resultTab{
    padding-right: 7px;
}

.resultSoql{
    border: 1px solid lightgray;
    font-size: 9pt;
    font-family:Arial;
    padding: 4px;
    margin-bottom: 2px;
    margin-top: 2px;
    white-space: pre-wrap;
}

.resultGrid {
    background: white;
    outline: 0;
    border: 0px solid gray;
}

.button_to,
.button_to div {
    display: inline;
}

/* ------------------------------
   #block
------------------------------ */
.left_block{
    display: table;
    border: 0px solid black;
    width: auto;
    vertical-align: left;
}

.combined_block{
    display:table-cell;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    border: 0px solid black;
    width: 100%;
    text-align: left;
    vertical-align: middle;
}

.label_block{
    display:table-cell;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    border: 0px solid black;
    width: 40%;
    text-align: left;
    vertical-align: middle;
}

.element_block{
    display:table-cell;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 0px solid black;
    width: 60%;
    text-align: left;
    vertical-align: middle;
}

.center_button_block{
    display:table-cell;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    border: 0px solid black;
    width: 40%;
    text-align: left;
    vertical-align: middle;
}

/* ------------------------------
   #menuList
------------------------------ */
#menuList {
    /*margin-top: 15px;*/
    width: 100%;
    height: 45px;
    border-top: #aaa 1px solid;
    border-bottom: #aaa 1px solid;
    /*position: relative;*/
    position: fixed;
    top:5px;
    z-index: 3000;
    background: #d3cbdb;
    display: flex;
    font-size:10pt;
    box-shadow: 0 3px 6px rgba(0,0,0,.175)
}
/*#menuList ul*/
#userInfoButton{
    margin-left:10px;
    margin-top:7px;
}

#menus {
    height: 45px;
    /*margin-left:70%;*/
    margin-left: auto;
    list-style: none;
    padding-right: 10px;
}
 
#menus li {
    width: 120px;
    height: 44px;
    float: left;
    border-left: #aaa 1px solid;
    box-sizing: border-box;
}
 
#menus li:last-child {
    border-right: #aaa 1px solid;
}
 
#menus li a {
    height: 43px;    
    line-height: 43px;
    display: block;
    text-align: center;
    transition: all 0.2s linear;
    text-decoration: none;
}

#menus li:hover > a {
    background: #fff;
}

.icon-plus {
    border:1px solid #aaa;
    background-color: #fff;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    width: 27px;
    height: 20px;
    position: relative;
    top: 8px;
    left: 0px;
    margin-bottom:0px;
    border-bottom: 0px;
    cursor: pointer;
}

.icon-plus:after {
    background-color: #aaa;
    width: 16px;
    height: 2px;
    border-radius: 1px;
    position: absolute;
    top:9px;
    left: 5px;
    content:"";
}

.icon-plus:before {
    background-color: #aaa;
    width: 2px;
    height: 16px;
    border-radius: 1px;
    position: absolute;
    top:2px;
    left: 12px;
    content:"";
}
