#executListMetadataBtn{
	margin-top: 5px;
}

#metadataListLabel{
    text-align: left;
    vertical-align: middle;	
}

#metadataList{
    text-align: left;
    vertical-align: middle;	
}

.crud-button-area{
    border: 1px solid lightgray;
    display: inline-block;
    width: 100%;
    padding: 4px;
    margin-top: 2px;
    margin-bottom: 2px;   
}

#deployMetadataOptions{
    font-size: 9pt;
    font-family:Arial;
}

.metadata-file-field{
    padding-left: 0;
    box-shadow: none !important;    
}

.metadata-file-field.focus, .metadata-file-field:focus{
    outline: 0 !important;
    box-shadow: none !important;
}

.deploy-option-lable{
    margin-right: 5px;
}

.deploy-option{
    vertical-align: bottom;
}

/* ------------------------------
   #jstree
------------------------------ */
.jstree-default a { 
    white-space:normal !important; height: auto; 
}

.jstree-anchor {
    height: auto !important;
}

.jstree-default li > ins { 
    vertical-align:top; 
}

.jstree-leaf {
    height: auto;
}

.jstree-leaf a{
    height: auto !important;
}