
<html>
	<head>
		<link rel="stylesheet" media="all" href="./css/soql.css">
		<script src="./js/soql.js"></script>
	</head>
	<body>
		<div id="soqlHistory" class="sidenav">
			<div class="tbl soql-history-title noselect">
				<div class="row"><button class="closebtn noselect">&times;</button></div>
				<div class="row">SOQL History</div>
			</div>
			<div class="soql-list">
				<ul></ul>
			</div>
		</div>

		<div id="soqlArea">

			<div class="form-area soql-form">
				<div>
					<textarea id="inputSoql" class="code-input" spellcheck="false" cols="120" rows="5"></textarea>
				</div>
				<div>
					<button type="button" id="executeSoqlBtn" class="btn btn-sm btn-primary">Execute</button>
					<label class="soql-options"><input type="checkbox" id="useTooling"/> Use Tooling API</label>
					<label class="soql-options"><input type="checkbox" id="queryAll"/> Query all</label>
				</div>		
				<p><div class="message-area"></div></p>
			</div>
			
			<div class="tab-area">
				<div class="left-align-btn">
					<button type="button" class="btn btn-xs btn-default ex-small-btn export-btn">Export</button>
					<button type="button" id="openCreatGridBtn" class="btn btn-xs btn-default ex-small-btn">Create</button>
					<button type="button" id="soqlHistoryBtn" class="btn btn-xs btn-default ex-small-btn">History</button>
				</div>
				<div class="right-align-btn">
					<button type="button" id="upsertBtn" class="btn btn-xs btn-warning ex-small-btn">Upsert</button>
					<button type="button" id="deleteBtn" class="btn btn-xs btn-warning ex-small-btn">Delete</button>
					<button type="button" id="undeleteBtn" class="btn btn-xs btn-warning ex-small-btn">Undelete</button>
				</div>
				<ul id="soqlTabs">
					<li class="add-tab-li">
						<div class="add-tab-btn icon-plus"></div>
					</li>
				</ul>
			</div>	
			
			<div id="soqlOverRay">
				<div id="creatGridArea" class="create-dialog">
					<div class="tbl soql-grid-table">
						<div class="row">
							<div class="sobject-label">
								<label>sObjects: </label>
							</div>
							<div class="sobject-list soql-sobject-list select2-single">
								<%= @sobject_list %>
							</div>
						</div>
						
						<div class="row">
							<div class="fields-label">
								<label>Fields: </label>
							</div>
							<div>
								<textarea name="sobjectFields" id="sobjectFields" class="sobject-fields-textarea" spellcheck="false"></textarea>
							</div>
						</div>
						<div class="row">
							<div>
								<label>Separator: </label>
							</div>
							<div>
								<select id="sobjectFieldsSeparator">
									<option value="newline">New line</option>
									<option value="comma">Comma</option>							
								</select>
							</div>
						</div>

						<div class="row soql-empty-row"></div>

						<div class="row">
							<div></div>
							<div>
								<button type="button" id="createGridBtn" class="btn btn-xs btn-info ex-small-btn" action="<%= create_path() %>">Create</button>
								<button type="button" id="cancelCreateBtn" class="btn btn-xs btn-info ex-small-btn">Cancel</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
