<div id="describeArea">

	<div class="form-area">
		<div id="filterSObjectList" action="<%= describe_changelist_path() %>" method="post">
			<label class="sobjectTypeCheckBoxLabel"><input type="radio" name="sobjectTypeCheckBox" id="sobjectTypeCheckBox_all" value="all" class="sobjectTypeCheckBox" checked="checked">All</label>
			<label class="sobjectTypeCheckBoxLabel"><input type="radio" name="sobjectTypeCheckBox" id="sobjectTypeCheckBox_standard" value="standard" class="sobjectTypeCheckBox">Standard</label>
			<label class="sobjectTypeCheckBoxLabel"><input type="radio" name="sobjectTypeCheckBox" id="sobjectTypeCheckBox_custom" value="custom" class="sobjectTypeCheckBox">Custom</label>
		</div>

		<div class="tbl">
			<div class="row">
				<div class="describe-sobject-label">
					<label>sObjects: </label>
				</div>
				<div class="sobject-list describe-sobject-list input-sm select2-single">
					<%= @sobject_list %>							
				</div>
			</div>
			<div class="row">
				<div>
					<button type="button" id="executeDescribeBtn" class="btn btn-sm btn-primary" action="<%= describe_path() %>" method="post">Describe</button>
				</div>
			</div>			
		</div>
		<p><div class="message-area"></div></p>
	</div>
	
	<div class="tab-area">
		<div class="export-btn-area">
			<button type="button" class="btn btn-xs btn-default ex-small-btn export-btn">Export</button>
		</div>	

		<ul id="describeTabs">
			<li class="add-tab-li">
				<div class="add-tab-btn icon-plus"></div>
			</li>
		</ul>
	</div>

</div>
